<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold font-italic text-white">MANEJATE</h1>
                <p class="lead text-white">como quieras y donde quieras...</p>
            </div>
        </div>
    </div>
</header>
<div class="bg-secondary">
    <div class="container text-center pt-5 pb-5">
        <h1 class="font-weight-bold font-italic text-white">Servicios</h1>
        <div class="row mt-5 justify-content-md-center">
            <div class="col-md-3">
                <img src="img/serv-auto.png" class="img-fluid mb-2 w-50 h-50">
                <h5 class="mt-3 text-white">Servicio de traslados</h5>
                <p class="text-center text-white">Ubicaciones en todos los lugares</p>
            </div>
            <div class="col-md-3">
                <img src="img/serv-ubic.png" class="img-fluid mb-2 w-50 h-50">
                <h5 class="mt-3 text-white">Servicio de traslados</h5>
                <p class="text-center text-white">Ubicaciones en todos los lugares</p>
            </div>
            <div class="col-md-3">
                <img src="img/serv-auto.png" class="img-fluid mb-2 w-50 h-50">
                <h5 class="mt-3 text-white">Servicio de traslados</h5>
                <p class="text-center text-white">Ubicaciones en todos los lugares</p>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <h1 class="font-weight-bold font-italic pt-5">Contactanos</h1>
    <div class="row mt-5 justify-content-md-center">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control border-0" id="exampleInputPassword1" placeholder="Nombre y Apellido">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control border-0" id="exampleInputPassword1" placeholder="Motivo Contacto">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control border-0" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Email">
                </div>
                <button type="submit" class="btn btn-primary border-0 rounded-0">Contactar</button>
            </form>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <textarea class="form-control border-0" rows="8" id="comentario" name="comentario" aria-describedby="comentario"
                    placeholder="Comentario" required></textarea>
            </div>
        </div>
    </div>
</div>