body {
    background: #f5f6fa;
	font-family: 'Oswald', sans-serif;
	background-color: #f5f6fa;
}

p {
	font-family: 'Oswald', sans-serif;
}

/*INDEX*/
.masthead {
    height: 100vh;
    min-height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url(../img/portada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linea {
	border-right: 2px solid black;
	height: 150px;
}

/*SIGNIN SIGNUP*/
.masthead-signin {
	height: 100vh;
    min-height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url(../img/signin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead-signup {
	height: 100vh;
    min-height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/signup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.back-signin {
	background-color: rgba(255, 255, 255, 0.15);
}

/*Modal fade*/
.mascara {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.contenido {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
}
.cerrar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*FOOTER*/
.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}

@media (max-width: 767px) {
	.linea {
		display: none;
	}
}

