<nav class="navbar navbar-light bg-light">
    <a href="/" class="navbar-brand">
        USUARIOS EDICION
    </a>
</nav>
<div class="container" id="contenedor">
    <div class="row pt-5" id="App">
        <div class="col-md-4">
            <div class="card" id="product-form"></div>
        </div>
        <div class="col-md-8">
            <table class="table" id="user-list"></table>
        </div>
    </div>
</div>
<script src="js/users.js"></script>