<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">EDICION USUARIOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 ml-auto">
                <select name="rol" id="estado-buscar" class="form-control mr-sm-2">
                    <option value="true">Activos</option>
                    <option value="false">Bloqueados</option>
                </select>
                <select name="rol" id="rol-buscar" class="form-control mr-sm-2">
                    <option>todos</option>
                    <option>administrador</option>
                    <option>operador</option>
                    <option>cliente</option>
                </select>
                <input class="btn btn-success" value="Buscar" onclick="Usuarios.obtenerUsuarios();" readonly/>
            </form>
        </div>
    </div>
</nav>
<div class="container" id="contenedor">
    <div class="row pt-5" id="App">
        <div class="col-md-4">
            <div class="card" id="product-form"></div>
        </div>
        <div class="col-md-8">
            <table class="table" id="user-list"></table>
        </div>
    </div>
</div>
<script src="js/users.js"></script>